In [85]:
#Importing dataset into python
import pandas as pd
#df = pd.read_excel(r'E:\Numpy_Ninja\Tableau\Python_Hackathon\HospitalDatabase.xlsx')
xl = pd.ExcelFile(r'E:\Numpy_Ninja\Tableau\Python_Hackathon\HospitalDatabase.xlsx')
sheets = xl.sheet_names
for i, sheet in enumerate(sheets):
    globals()['df'+ str(i+1)] = pd.read_excel(r'E:\Numpy_Ninja\Tableau\Python_Hackathon\HospitalDatabase.xlsx', sheet_name = sheet)
print(df1)#Patients
print(df2)#EDVisits
print(df3)#AmbulatoryVisits
print(df4)#ReadmissionRegistry
print(df5)#Discharges
print(df6)#Providers
print(df7)#EDUnique

     PatientID FirstName  LastName             DateOfBirth Gender  \
0            1     Lanni       Sue 1960-01-01 00:00:00.000   Male
1            2       Far     Myers 1985-11-15 02:08:42.090   Male
2            3   Devlin    Michael 1976-04-15 02:52:09.762   Male
3            4   Carmine     Texas 1968-10-15 03:32:13.635   Male
4            5     Tann       Bama 1962-05-01 19:12:58.950   Male
..         ...       ...       ...                     ...    ...
940        941       Wat   Fideler 1986-05-26 00:01:19.761   Male
941        942    Wandie  Baythrop 1970-06-10 21:41:03.814   Male
942        943   Diahann   Smeeton 1983-01-08 21:49:27.884   Male
943        944  Panchito   Sharple 1963-06-05 07:57:05.569   Male
944        945     Walsh    Calvie 1972-08-06 03:40:03.454   Male

                       Race Language
0                     White  English
1                     White  English
2                     White  English
3                     White  English
4                     White  English
..                      ...      ...
940  Black/African-American  English
941  Black/African-American  English
942  Black/African-American  English
943  Black/African-American  English
944  Black/African-American  English

[945 rows x 7 columns]
      EDVisitID  PatientID               VisitDate         EDDischargeTime  \
0             1          1 2020-01-01 00:00:00.000 2020-01-01 11:20:22.924
1            12         12 2020-01-01 02:45:40.302 2020-01-02 02:00:00.517
2            13         13 2020-01-01 03:09:24.701 2020-01-01 05:00:20.852
3            14         14 2020-01-01 03:12:19.349 2020-01-01 04:32:29.142
4            15         15 2020-01-01 03:46:32.698 2020-01-01 06:24:52.741
...         ...        ...                     ...                     ...
1194       1183        929 2020-01-15 10:38:42.570 2020-01-16 02:31:52.023
1195       1186        932 2020-01-15 11:52:37.540 2020-01-16 10:19:41.570
1196       1187        933 2020-01-15 12:11:11.678 2020-01-15 16:41:15.223
1197       1188        934 2020-01-15 12:21:46.006 2020-01-15 18:32:21.060
1198       1189        935 2020-01-15 12:51:14.875 2020-01-15 23:40:41.456

      Acuity ReasonForVisit EDDisposition
0          1   Stomach Ache      Admitted
1          2       Migraine      Admitted
2          3   Stomach Ache      Admitted
3          3       Migraine      Admitted
4          3     Chest Pain      Admitted
...      ...            ...           ...
1194       4     Chest Pain    Discharged
1195       1      Pneumonia    Discharged
1196       1      Pneumonia    Discharged
1197       1      Pneumonia    Discharged
1198       1      Pneumonia    Discharged

[1199 rows x 7 columns]
     VisitID  PatientMRN  ProviderID DateofVisit           DateScheduled  \
0        202         840          29  2019-03-19 2019-03-13 07:59:24.000
1        436         820          25  2019-03-19 2019-02-24 07:10:31.043
2        794         879          30  2019-04-02 2019-03-19 01:41:55.656
3        799         884          37  2019-03-03 2019-02-25 01:25:39.696
4        515          32          26  2019-03-16 2019-02-20 06:44:59.617
..       ...         ...         ...         ...                     ...
945      788         873           1  2019-03-27 2019-03-10 17:19:48.264
946      703         855          36  2019-03-12 2019-02-19 02:27:52.664
947      481         865          13  2019-05-03 2019-04-25 13:37:57.501
948      398         635          10  2019-02-09 2019-02-08 11:40:35.137
949      695         847          24  2019-03-04 2019-02-05 05:29:30.587

     VisitDepartmentID     VisitType  BloodPressureSystolic  \
0                   10      Physical                  188.0
1                    3     Follow Up                  179.0
2                   11  Telemedicine                  133.0
3                    4  Telemedicine                  132.0
4                   11  Telemedicine                  131.0
..                 ...           ...                    ...
945                  5  Telemedicine                  187.0
946                 10     Follow Up                  182.0
947                 12           New                  150.0
948                  1      Physical                  177.0
949                 12     Follow Up                  165.0

     BloodPressureDiastolic      Pulse VisitStatus
0                144.143427  83.044920     No Show
1                118.876808  90.309544     No Show
2                 98.749563  80.859776     No Show
3                 98.001270  82.184737     No Show
4                 85.115632  89.192362     No Show
..                      ...        ...         ...
945              126.695141  70.049167    Canceled
946              140.703502  73.380812    Canceled
947               84.841197  61.625454    Canceled
948              125.037534  53.287036    Canceled
949              116.879318  56.180317    Canceled

[950 rows x 11 columns]
     AdmissionID  PatientID AdmissionDate           DischargeDate  \
0            389          1    2018-01-01 2018-01-04 19:59:31.391
1            635          2    2018-01-01 2018-01-04 21:28:51.898
2            606          3    2018-01-01 2018-01-04 22:28:23.672
3            587          5    2018-01-01 2018-01-05 05:47:04.933
4            640          6    2018-01-01 2018-01-05 14:18:30.029
..           ...        ...           ...                     ...
715          521        738    2018-02-22 2018-03-07 21:22:10.061
716          548        739    2018-02-22 2018-03-08 02:43:18.749
717          509        740    2018-02-22 2018-03-08 09:27:18.377
718          605        741    2018-02-22 2018-03-10 06:06:12.068
719          710        742    2018-02-22 2018-03-10 20:38:30.568

    DischargeDisposition           Service PrimaryDiagnosis  ExpectedLOS  \
0                   Home       Hospitalist   Kidney Failure     6.717771
1                   Home  General Medicine              Flu     3.825969
2                   Home  General Medicine              Flu     3.382493
3                   Home  General Medicine              Flu     3.763352
4                   Home               ICU    Heart Failure    13.650953
..                   ...               ...              ...          ...
715                 Home        Cardiology              AMI    13.725405
716                 Home               ICU        Pneumonia    11.355456
717                 Home       Hospitalist        Pneumonia     4.819882
718                 Home  General Medicine              Flu     3.123064
719             Transfer  General Medicine         Diabetes     7.195441

     ExpectedMortality  ReadmissionFlag  DaysToReadmission  \
0             0.010046              NaN                NaN
1             0.604562              1.0                2.0
2             0.266137              1.0                3.0
3             0.307527              1.0                4.0
4             0.408898              NaN                NaN
..                 ...              ...                ...
715           0.388319              NaN                NaN
716           0.088518              NaN                NaN
717           0.503308              NaN                NaN
718           0.655870              NaN                NaN
719           0.286439              NaN                NaN

     EDVisitAfterDischargeFlag
0                          NaN
1                          1.0
2                          1.0
3                          1.0
4                          NaN
..                         ...
715                        NaN
716                        NaN
717                        NaN
718                        NaN
719                        NaN

[720 rows x 12 columns]
     AdmissionID  PatientID AdmissionDate           DischargeDate  \
0              1          9    2018-01-01 2018-01-07 18:06:06.408
1            257         93    2018-01-06 2018-01-18 02:59:04.667
2            152        101    2018-01-07 2018-01-11 16:16:06.782
3            361        102    2018-01-07 2018-01-15 04:48:33.134
4            258        103    2018-01-07 2018-01-15 13:32:36.157
..           ...        ...           ...                     ...
715          715        716    2018-02-21 2018-03-06 03:31:05.262
716          698        723    2018-02-22 2018-02-26 15:09:02.584
717          704        724    2018-02-22 2018-02-27 07:59:32.385
718          716        733    2018-02-22 2018-03-05 12:31:55.958
719          710        742    2018-02-22 2018-03-10 20:38:30.568

    DischargeDisposition           Service PrimaryDiagnosis  ExpectedLOS  \
0                Expired        Cardiology              AMI     9.646857
1                Expired        Cardiology       Broken Leg     6.816558
2                Expired        Cardiology   Kidney Failure     6.580273
3                Expired        Cardiology             Afib    12.794536
4                Expired        Cardiology       Broken Leg     2.639297
..                   ...               ...              ...          ...
715             Transfer               ICU    Heart Failure    11.362095
716             Transfer               ICU    Heart Failure    10.262312
717             Transfer  General Medicine        Pneumonia     6.036234
718             Transfer               ICU    Heart Failure    13.323413
719             Transfer  General Medicine         Diabetes     7.195441

     ExpectedMortality
0             0.061540
1             0.628827
2             0.573887
3             0.222163
4             0.055468
..                 ...
715           0.370695
716           0.812930
717           0.094128
718           0.490892
719           0.286439

[720 rows x 9 columns]
    ProviderID     ProviderName ProviderSpecialty     ProviderDateOnStaff
0            1        Sally Sue        Pediatrics 1993-01-01 00:00:00.000
1            2       Mike Myers        Pediatrics 1993-05-02 00:00:17.695
2            3   Jordan Michael        Pediatrics 1993-06-24 21:31:46.687
3            4        Ted Texas        Pediatrics 1993-12-23 21:33:52.299
4            5         Ala Bama        Pediatrics 1995-01-10 02:53:47.838
5            6       Harry Kane        Pediatrics 1995-07-21 03:49:03.310
6            7        Barry Bar        Pediatrics 1995-11-21 19:30:38.759
7            8        Ted Green        Pediatrics 1996-05-30 06:14:52.539
8            9        Ted Black        Pediatrics 1997-02-20 08:01:10.211
9           10         Fred Man           Surgery 1998-03-17 01:47:18.794
10          11     Kim Kimberly           Surgery 1998-05-10 14:47:29.468
11          12         Sarah Ab           Surgery 1998-08-18 05:22:40.762
12          13  Abigail Marriot           Surgery 1998-11-08 12:25:45.705
13          14          Dave Yu           Surgery 1999-06-26 16:18:57.436
14          15  Christian Saint           Surgery 2000-08-27 00:12:40.326
15          16     Perry Pardon           Surgery 2001-02-13 11:49:17.862
16          17     Kent Kendall        Cardiology 2001-12-22 11:18:32.919
17          18       Ryan Kevin        Cardiology 2003-01-14 21:16:34.778
18          19     Tyler Conner        Cardiology 2003-07-09 02:41:40.410
19          20    Bailey Barret        Cardiology 2003-08-20 16:05:50.179
20          21      Megan Bonco        Cardiology 2004-02-17 21:22:30.546
21          22    Joesph Walter        Cardiology 2005-02-04 11:40:44.121
22          23      Walter King        Cardiology 2006-03-12 22:11:58.070
23          24        Luke Long        Cardiology 2006-04-28 00:16:36.762
24          25      Justin Time       PrimaryCare 2006-06-21 04:46:36.838
25          26      Mike Joseph       PrimaryCare 2006-12-29 16:26:41.085
26          27   Bridget Brenda       PrimaryCare 2007-06-30 05:53:46.143
27          28      Brenda Bing       PrimaryCare 2007-11-18 22:33:55.792
28          29    Chandler Bing       PrimaryCare 2007-12-07 23:50:10.442
29          30      Joesph Ross       PrimaryCare 2008-11-08 18:06:32.983
30          31     Dwight Scott       PrimaryCare 2009-04-18 19:15:44.587
31          32  Michael Halpert       PrimaryCare 2009-09-02 00:14:41.441
32          33      Pamela Ding       PrimaryCare 2009-11-12 03:59:49.655
33          34       Tony Creed       PrimaryCare 2010-04-28 14:11:26.802
34          35  Phyllis Stanley       PrimaryCare 2011-05-05 16:06:03.222
35          36        Holly Hue       PrimaryCare 2012-06-24 06:55:22.021
36          37        Trent Tye       PrimaryCare 2013-01-12 15:32:21.137
37          38    Kimberly Cone       PrimaryCare 2013-05-23 05:17:19.360
38          39       Harry West       PrimaryCare 2013-07-14 00:22:03.151
39          40     Rosie Renter       PrimaryCare 2013-09-11 12:07:55.584
     EDVisitID  PatientID               VisitDate         EDDischargeTime  \
0            1          1 2020-01-01 00:00:00.000 2020-01-01 11:20:22.924
1           12         12 2020-01-01 02:45:40.302 2020-01-02 02:00:00.517
2           13         13 2020-01-01 03:09:24.701 2020-01-01 05:00:20.852
3           14         14 2020-01-01 03:12:19.349 2020-01-01 04:32:29.142
4           15         15 2020-01-01 03:46:32.698 2020-01-01 06:24:52.741
..         ...        ...                     ...                     ...
940       1183        929 2020-01-15 10:38:42.570 2020-01-16 02:31:52.023
941       1186        932 2020-01-15 11:52:37.540 2020-01-16 10:19:41.570
942       1187        933 2020-01-15 12:11:11.678 2020-01-15 16:41:15.223
943       1188        934 2020-01-15 12:21:46.006 2020-01-15 18:32:21.060
944       1189        935 2020-01-15 12:51:14.875 2020-01-15 23:40:41.456

     Acuity ReasonForVisit EDDisposition
0         1   Stomach Ache      Admitted
1         2       Migraine      Admitted
2         3   Stomach Ache      Admitted
3         3       Migraine      Admitted
4         3     Chest Pain      Admitted
..      ...            ...           ...
940       4     Chest Pain    discharged
941       1      Pneumonia    discharged
942       1      Pneumonia    discharged
943       1      Pneumonia    discharged
944       1      Pneumonia    discharged

[945 rows x 7 columns]

In [101]:
#21. Which reason of visit has maximum mortality rate?
df3.rename(columns={'PatientMRN': 'PatientID'})
#result = df3.merge(df5, how = 'inner', on = 'PatientID')
result = pd.concat([df3,df5],axis = 1, join = 'inner')
#print(result)
print("The visit type with highest mortality is: \n", result.groupby('VisitType')['ExpectedMortality'].mean().reset_index().sort_values(['ExpectedMortality'],ascending = False).head(n=1))
#result = df5.groupby('PrimaryDiagnosis')['ExpectedMortality'].mean().max()

The visit type with highest mortality is:
    VisitType  ExpectedMortality
0  Follow Up           0.349145

In [111]:
#22. Display the average LOS based on Service and Discharge Disposition(Maintain the column Hierarchy).
#df4.info()
#df4['LOS_Full'] = (df4['DischargeDate'] - df4['AdmissionDate']).dt.days
df4['LOS'] = (df4['DischargeDate'] - df4['AdmissionDate']).dt.total_seconds() / 60 / 60 / 24
#df4.head()
result = df4.groupby(['DischargeDisposition','Service'])['LOS'].mean()
print(result)

DischargeDisposition  Service
Expired               Cardiology           9.357828
                      General Medicine     8.972359
                      Hospitalist         10.587996
                      ICU                  9.790686
                      Neurology           10.650761
                      Orthopeadics        12.327644
Home                  Cardiology          10.633869
                      General Medicine    10.298306
                      Hospitalist          9.522124
                      ICU                  9.575618
                      Neurology            9.677446
                      Orthopeadics         9.325017
Transfer              Cardiology          11.759865
                      General Medicine    11.075935
                      Hospitalist          9.248801
                      ICU                  9.479894
                      Neurology           12.261288
                      Orthopeadics        16.559908
Name: LOS, dtype: float64

In [118]:
#23. Add column 'Age' in Patient table.
from datetime import date, datetime
# This function converts given date to age
def age(born):
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))
 
df1['Age'] = df1['DateOfBirth'].apply(age)
df1

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,Age
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English,63
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English,37
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English,46
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English,54
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English,60
...,...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English,36
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English,52
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English,40
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English,59
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English,50

In [124]:
#24. Using arrays and loops, find the count of patients based on gender.
male = 0
female = 0
for gender in df1['Gender']:
    if gender == 'Male':
        male+= 1
    else:
        female+=1
print('Count of Male patients: {} and Count of Female patients: {}'.format(male, female))

Count of Male patients: 537 and Count of Female patients: 408